body {
    background-color: grey;
    text-align: center;
}

p {
    font-size: 15px;
}

button {
    padding:10px;
}

#mainSection {
    font-size: 24px;
    margin: auto;
    text-align: center;

    padding: 10px 10px 10px 10px;
    width: 50%;
    background-color: darkgrey;
    border-radius: 10px;
}

.button-wrapper {
    text-align:center;
    display:inline-block;
    margin:10px;
}
